*.pyc
*.hdf5
*.log
*.pkl
*.json
*.pdf
*.png
*.jpg
*.xml
*.avi
*.mp4
*.npz
*.csv
*.ipynb_checkpoints
*tf.data*
*tf.index*
checkpoint
*.coverage
*.npy
*.p
*.zip

!.github/manifest.xml

dist/*
build/*
.pytest_cache/

docs/site/*
docs/sources/*
docs/theme/fonts/*
docs/theme/img/*

install.sh

*images/
dext.egg-info/
__pycache__
*.idea/
*play*
*weights/*
*_local*
*misc_data
*notebooks/elo/*
